


.btn, button, input[type=submit]{
	
	border:2px solid #333;
	padding:14px 20px ;
	text-transform: uppercase;
	color:#333;
	font-weight: bold;
	font-size:14px;
	background: #999;
	border:none;
	border-bottom:5px solid #bbb;
	border-radius: 2px;
	font-weight: 100;
	color:#FFF;
	text-decoration: none;
	text-shadow:none !important;

	&:hover{
		opacity: 0.8;
		cursor: pointer;
	}

	&.btn-red{
		background: #ff3535;
		border-bottom-color: #e03232;
	}

	&.btn-green{
		background: #2ebf6a;
		border-bottom-color: #1e944f;
	}
}

.clear{
	clear:both;
	
}

.page{
	margin:0 auto;
	width:900px;
}

.col-1-2, .col-2-2{
	float:left;
	width:50%;
	padding:0;
	margin:0;
}

strong{
	font-weight: 800;
}
