


<div class="page page-cart">
	<h1>
		Your Order
		<div style="text-align:right; margin-top:20px;position: absolute; width: 900px;">
			<a href="/checkout" class="btn btn-green" style="position: relative; top: -70px;">Checkout &raquo;</a>
		</div>
	</h1>
	

	<table class="table-cart">
		<tr>
			<td><img src="/static/images/products/tango.png"></td>
			<td>1 x Tango</td>
			<td>Delivery on Monday</td>
			<td style="width:100px;">$9.00</td>
		</tr>
		<tr class="pair">
			<td><img src="/static/images/products/cactus.png"></td>
			<td>2 x Cactus</td>
			<td>Delivery on Monday</td>
			<td style="width:100px;">$18.00</td>
		</tr>
		<tr>
			<td><img src="/static/images/products/taxi.png"></td>
			<td>1 x Taxi</td>
			<td>Delivery on Wednesday</td>
			<td style="width:100px;">$9.00</td>
		</tr>
	</table>

	<div class="col-1-2" style="text-align:left;">
		<form class="cart-form-coupon">
			<div class="input-inline">
				<input type="textbox" placeholder="Add Coupon Code" style="background:#FFF;" />
				<a href="#" class="btn btn-green btn-small">
					Add
			</a>
			</div>
		</form>
	</div>
	<div class="col-2-2">
		<table class="table-totals">
			<tr>
				<td>Subtotal</td>
				<td style="width:100px;">$36.00</td>
			</tr>
			<tr>
				<td>Discount</td>
				<td style="width:100px;">($10.00)</td>
			</tr>
			<tr>
				<td>Shipping</td>
				<td style="width:100px;">$4.00</td>
			</tr>
			<tr>
				<td>Tax</td>
				<td style="width:100px;">$2.56</td>
			</tr>
			<tr style="font-size:18px;">
				<td>Grand-Total</td>
				<td style="width:100px;">$32.56</td>
			</tr>
		</table>

		<div class="clear"></div>

		<div style="text-align:right; margin-top:20px;">
			<a href="/checkout" class="btn btn-green">Checkout &raquo;</a>
		</div>
		
	</div>
	

	
</div>