


<div class="page page-cart">

	{{#if cart.items}}

		<h1>
			Your Order
			<div class="main-cta" style="text-align:right; margin-top:20px;position: absolute; width: 900px;">
				<a href="/checkout" class="btn btn-green" style="position: relative; top: -70px;">Checkout &raquo;</a>
			</div>
		</h1>
		

		<table class="table-cart">
			{{#each cart.items}}
				<tr class="item-{{item_id}}">
					<td><img src="{{image}}"></td>
					<td>{{qty}} x {{name}}</td>
					<td>Delivery on Monday</td>
					<td style="width:100px;">{{#money price.value}}{{/money}}</td>
					<td><a href="#" onclick="app.models.cart.item.remove('{{item_id}}'); return false;">X</a></td>
				</tr>
			{{/each}}
		</table>

		<div class="alert alert-error"></div>

		<div class="col-1-2" style="text-align:left;">
			<form class="cart-form-coupon" onsubmit="app.models.cart.coupon.add($('input[name=coupon]').val()); return false;">
				<div class="input-inline">
					{{#if cart.checkout.coupon}}
						<input type="textbox" name="coupon" value="{{cart.checkout.coupon}}" placeholder="Add Coupon Code" style="background:#FFF;" />
						<input type="submit" value="Remove" onclick="$('input[name=coupon]').val('')" class="btn btn-green btn-small" />
					{{else}}
						<input type="textbox" name="coupon" placeholder="Add Coupon Code" style="background:#FFF;" />
						<input type="submit" value="Add" class="btn btn-green btn-small" />
					{{/if}}
				</div>
			</form>
		</div>
		<div class="col-2-2">
			<table class="table-totals">
				
				<tr>
					<td>Subtotal</td>
					<td style="width:100px;">{{#money cart.sub_total}}{{/money}}</td>
				</tr>
				

				{{#if cart.totals.discount}}
					<tr>
						<td>Discount &mdash; {{cart.checkout.coupon}} </td>
						<td style="width:100px;">({{#money cart.totals.discount}}{{/money}})</td>
					</tr>
				{{/if}}

				{{#if cart.totals.shipping_fees}}
					<tr>
						<td>Shipping</td>
						<td style="width:100px;">{{#money cart.totals.shipping_fees}}{{/money}}</td>
					</tr>
				{{else}}
					<tr>
						<td>Shipping</td>
						<td style="width:100px;">FREE</td>
					</tr>
				{{/if}}

				{{#if cart.totals.tax}}
					<tr>
						<td>Tax</td>
						<td style="width:100px;">{{#money cart.totals.tax}}{{/money}}</td>
					</tr>
				{{/if}}

				<tr style="font-size:18px;">
					<td>Grand-Total</td>
					<td style="width:100px;">{{#money cart.grand_total}}{{/money}}</td>
				</tr>
			</table>

			<div class="clear"></div>

			<div class="main-cta" style="text-align:right; margin-top:20px;">
				<a href="/checkout" class="btn btn-green">Checkout &raquo;</a>
			</div>
			
		</div>
	{{else}}
		<h2>Your cart is empty</h2>
		<p style="margin-top:30px;"><a href="/products" class="btn btn-green">&laquo; Go back to the shop</a></p>
	{{/if}}
</div>

