<div class="photo-header">
	&nbsp;
</div>

<div class="page">
	<div class="product-filters">

		<a href="#" class="active">Apple</a>
		<a href="#" class="active">Carrot</a>
		<a href="#" class="active">Ananas</a>
		<a href="#" class="active">Cucumber</a>
		<a href="#" class="active">Orange</a>
		<a href="#" class="active">Beet</a>

		|

		<a href="#" class="active">All</a>
		<a href="#">Bike</a>
		<a href="#">Run</a>
		<a href="#">Recovery</a>
		<a href="#">Brain</a>
	</div>

	<div>
		<ul class="product-list">
			<li>
				<a href="/products/1">
					<img src="/static/images/products/tango.png" /><br/>
					<span class="product-name">Tango</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/2">
					<img src="/static/images/products/cactus.png" /><br/>
					<span class="product-name">Cactus</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/3">
					<img src="/static/images/products/taxi.png" /><br/>
					<span class="product-name">Taxi</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/4">
					<img src="/static/images/products/samba.png" /><br/>
					<span class="product-name">Samba</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/1">
					<img src="/static/images/products/tango.png" /><br/>
					<span class="product-name">Tango</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/2">
					<img src="/static/images/products/cactus.png" /><br/>
					<span class="product-name">Cactus</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/3">
					<img src="/static/images/products/taxi.png" /><br/>
					<span class="product-name">Taxi</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/4">
					<img src="/static/images/products/samba.png" /><br/>
					<span class="product-name">Samba</span>
					<span class="product-price">$9</span>
				</a>
			</li>
			<li>
				<a href="/products/4">
					<img src="/static/images/products/samba.png" /><br/>
					<span class="product-name">Samba</span>
					<span class="product-price">$9</span>
				</a>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
