<div class="photo-header">
	&nbsp;
</div>

<div class="page">
	<div class="product-filters">

		<a href="#" class="active">Apple</a>
		<a href="#" class="active">Carrot</a>
		<a href="#" class="active">Ananas</a>
		<a href="#" class="active">Cucumber</a>
		<a href="#" class="active">Orange</a>
		<a href="#" class="active">Beet</a>

		|

		<a href="#" class="active">All</a>
		<a href="#">Bike</a>
		<a href="#">Run</a>
		<a href="#">Recovery</a>
		<a href="#">Brain</a>
	</div>

	<div>
		<ul class="product-list">
			{{#each products}}
				{{#if image}}
					<li>
						<a href="/products/{{_id}}">
							<img src="{{image}}" /><br/>
							<span class="product-name">{{name}}</span>
							<span class="product-price">${{price.value}}</span>
						</a>
					</li>
				{{/if}}
			{{/each}}
		</ul>
		<div class="clear"></div>
	</div>
</div>
