<div>
	<a href="/products">All products</a> 
	>
	<a href="/products">Juices</a>
	>
	Tango
</div>


<div class="page page-product">
	<h1>Tango</h1>

	<img src="/static/images/products/tango.png">



	<div>
		
		<a href="#" class="btn btn-green">Add to Cart</a>
	</div>
</div>
