<div>
	<a href="/products">All products</a> 
	>
	<a href="/products">Juices</a>
	>
	{{product.name}}
</div>


<div class="page page-product">
	<h1>{{product.name}}</h1>
	
	<img src="{{product.image}}">
	
	<div>
		{{#if customer.is_login}}
			<a href="#" onclick="app.models.cart.item.add('{{product.id}}'); return false;" class="btn btn-green">Add to Cart</a>
		{{else}}	
			<a href="/login" class="btn btn-green">Create a free account to buy</a>
		{{/if}}
	</div>
</div>
