

<div class="login-box">
	<div class='col-1-2'>
		<form>
			<input type="textbox" name="email" placeholder="Email" /><br/>
			<input type="password" name="password" placeholder="Password" /><br/>
			<a href="#" class="btn btn-green">Login</a> or <a href="">Create an account</a>
		</form>
	</div>
	<div class="col-2-2"></div>
	<div class="clear"></div>
</div>