

<div class="page page-checkout">

	{{#if cart.items}}

		<h1 style="float:left; width:200px;">
			Checkout
		</h1>
		
		<div style="float:right; width:600px;">
			<ul class="checkout-progress">
				<li class="progress-shipping-address" class="active">
					<a href="#" onclick="if(!$(this).parent().hasClass('not-ready')){app.views.page.action.goTo('shipping-address');} return false;">Shipping Address</a>
				</li>
				<li class="progress-billing-address not-ready">
					<a href="#" onclick="if(!$(this).parent().hasClass('not-ready')){app.views.page.action.goTo('billing-address');} return false;">Billing Address</a>
				</li>
				<li class="progress-payment-method not-ready">
					<a href="#" onclick="if(!$(this).parent().hasClass('not-ready')){app.views.page.action.goTo('payment-method');} return false;">Payment Information</a>
				</li>
				<li class="progress-review not-ready">
					<a href="#" onclick="if(!$(this).parent().hasClass('not-ready')){app.views.page.action.goTo('review');} return false;">Review</a>
				</li>
			</ul>
		</div>

		<div class="clear"></div>

		<div class="checkout-panel" style="opacity:0;">
			<ul>
				<li class="step step-shipping-address" style="display:none;"></li>
				<li class="step step-billing-address" style="display:none;"></li>
				<li class="step step-payment-method" style="display:none;"></li>
				<li class="step step-review" style="display:none;"></li>
			</ul>
		</div>

	{{else}}
		<h2>Your cart is empty</h2>
		<p style="margin-top:30px;"><a href="/products" class="btn btn-green">&laquo; Go back to the shop</a></p>
	{{/if}}
</div>