

<div class="page page-order-confirmation">

	<h1>Thanks for you order.</h1>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, orci ut tristique ultricies, lectus mi convallis nisi, vel bibendum elit nulla in metus. Proin vel dapibus justo. Vestibulum sed consequat dui. Ut tincidunt fringilla tortor, a venenatis metus laoreet quis.</p>

	<p class="order-info">Order #{{order.increment_id}}</p>

	<div class="cta">
		<a href="/" class="btn btn-green">Back to Shop</a>
	</div>

</div>